@use "./partials/mixins.scss" as m;
@use "./partials/palette.scss" as *;
@use "./modules/nav.scss";
@use "./modules/landing.scss";
@use "./modules/about";
@use "./modules/projects.scss";
@use "./modules/techStack.scss";
@use "./modules/footer.scss";

* {
  font-family: "roboto mono", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 36px;
  padding-bottom: 36px;
  color: $prim-color;

  @include m.medium {
    font-size: 32px;
  }
}

main {
  background-color: $second-color;
}

section {
  padding: 72px 0;
}
